* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-sienna: #a0522d;
  --color-salvia: #87a96b;
  --color-alabastro: #f5e6d3;
  --color-oro: #d4a437;
  --color-rosa: #c47a6d;
  --color-darkwood: #3e2723;
  --color-grey: #f5f5f5;

  --font-body: "Inter", sans-serif;
  --font-titles: "Playfair Display", georgia;


  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-alabastro);
  color: var(--color-darkwood);
  -webkit-font-smoothing: antialiased;
}

header {
    max-width: 100%;
    background-color: var(--color-sienna);
}

.navbar {
    max-width: 100%;
    display:flex;
    justify-content: space-between;
}
.logo {
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: var(--color-grey);
    border-radius: 12px;
}
.navbar ul {
    flex: 4;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    font-weight: var(--font-weight-bold);
}
.navbar ul li {
  align-self: center;
}
a {
    text-decoration: none;
    color: var(--color-grey);
    transition: transform 0.1s ease;
    display: inline-block;
}

header .navbar ul li a:hover {
    color: var(--color-alabastro);
    transform: scale(1.2);
}

.active {
    text-decoration: underline;
}

.search-bar {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

.search-bar input {
  border: 2px solid var(--color-darkwood);
  padding: 10px;
  border-radius: 20px;
  flex: 1;
}

.search-bar a {
  background-color:  var(--color-salvia);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.search-bar a:hover {
  background-color: var(--color-oro);
}
 
h1 {
    text-align: left;
    margin: 20px 0 0 5px;
    font-family: var(--font-titles);
    font-weight: var(--font-weight-bold);
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-family: var(--font-titles);
    font-weight: var(--font-weight-bold);
    color: var(--color-sienna);
}

p {
    margin: 10px 30px 10px 30px;
}

img {
  margin: 0 auto;
  display: block;
  width: 80%;
  border-radius: 8px;
  height: auto;
  object-fit: cover;
  align-self: center;
}

/*Estilos carrito */
.header__cart {
  margin-left: 20px;
}

.cart__btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-grey);
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

#cart-count {
  background-color: var(--color-oro);
  color: white;
  padding: 2px 8px;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: var(--font-weight-bold);
}

footer {
  background-color: var(--color-sienna);
  color: var(--color-grey);
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

/* Media Query para pantallas más grandes (el breakpoint es 768px) */
@media (min-width: 768px) {
  .logo {
    margin: 10px 80px 10px 10px; 
  }
  .search-bar {
    max-width: 600px;
    margin: 20px auto;
  }
  img {
    width: 30%;
  }
}