*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* border-box: el width y height incluyen contenido + padding + border. */
}

:root {
  /* 🎨 Colores Hermanos Jota */
  --color-sienna: #a0522d;
  --color-salvia: #87a96b;
  --color-alabastro: #f5e6d3;
  --color-oro: #d4a437;
  --color-rosa: #c47a6d;
  --color-darkwood: #3e2723;
  --color-grey: #f5f5f5;

  /* 🖋️ Tipografías */
  --font-body: "Inter", sans-serif;
  --font-titles: "Playfair Display", georgia;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
}

/*BODY------------------------------*/
body {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-alabastro);
  color: var(--color-darkwood);
  -webkit-font-smoothing: antialiased;
}

header {
    max-width: 100%;
    background-color: var(--color-sienna);
}

.navbar {
    max-width: 100%;
    display:flex;
    justify-content: space-between;
}
.logo {
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: var(--color-grey);
    border-radius: 12px;
}
.navbar ul {
    flex: 4;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    font-weight: var(--font-weight-bold);
}
.navbar ul li {
  align-self: center;
}
.navbar ul li a {
    text-decoration: none;
    color: var(--color-grey);
    transition: transform 0.1s ease;
    display: inline-block;
}

header .navbar ul li a:hover {
    color: var(--color-alabastro);
    transform: scale(1.2);
}

.navbar a.active {
    text-decoration: underline;
}

.search-bar {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

.search-bar input {
  border: 2px solid var(--color-darkwood);
  padding: 10px;
  border-radius: 20px;
  flex: 1;
}

.search-bar a {
  background-color:  var(--color-salvia);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.search-bar a:hover {
  background-color: var(--color-oro);
}

a {
    text-decoration: none;
    display: inline-block;
}

/*Prductos - Catalogo-------------------*/

#catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 5px;
  text-align: center;
}
.card h2 {
  font-size: "Inter", sans-serif;
  color: #a0522d;
  margin-bottom: 10px;
}

.card img{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card button{
display: inline-block;
padding: 10px 15px;
background-color: #87a96b;
color: #f5f5f5;
border-color:#f5e6d3;
text-decoration: none;
border-radius: 5px;
margin-top: 10px;
margin-left: 10px;
border-radius: 10px;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-oro);
}

/*FIN de Prductos - Catalogo*/

/* ------------------------------
   Footer
------------------------------ */
footer {
  background-color: var(--color-sienna);
  color: var(--color-grey);
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

footer a {
  color: var(--color-grey);
  text-decoration: none;
}

/* Media Query para pantallas más grandes (el breakpoint es 768px) */
@media (min-width: 768px) {
  .logo {
    margin: 10px 80px 10px 10px; 
  }
  .search-bar {
    max-width: 600px;
    margin: 20px auto;
  }
}
